<mat-card>
  <mat-card-title>Alterar Escola</mat-card-title>

      <form [formGroup]="escolaForm" (ngSubmit)="save()" class="form" #form="ngForm">
      <mat-form-field class="id">
          <input matInput placeholder="id" appearance="outline"
                                                          formControlName="id">
        </mat-form-field>
        <mat-form-field class="form">
          <input matInput placeholder="Codigo"  appearance="outline"
                                                     formControlName="codigo">
      </mat-form-field>
        <mat-form-field class="form">
          <input matInput placeholder="Nome" appearance="outline"
                                                  formControlName="nome">
        </mat-form-field>
      </form>

<button mat-raised-button (click)="save()" color="primary">
  Salvar
</button>

<button mat-raised-button (click)="cancel()" color="red">
  Cancelar
</button>
</mat-card>
